/* Header */

header {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: white;
}

/* Navigation */

#navigation {
  float: left;
  margin: 10px;
  font-size: 30px;
}

.navigation-item {
  display: inline-block;
}

/* Social Links */

#social-links {
  float: right;
  margin: 10px;
}

.social-icon {
  width: 40px;
}

/* Front Page */

.front-page-heading {
  margin-top: 30vh;
  text-align: center;
}

.front-page-heading h1 {
  margin: 0;
  font-size: 100pt;
}

/*.front-page-heading p {
  margin: 0;
  font-size: 25pt;
}*/

/* Portfolio */

.container {
  width: 800px;
  margin: auto;
}

.portfolio-list ul {
  list-style-type: none;
}

.portfolio-list li {
  margin: 20px;
  padding: 10px;
}

/* Helpers */

body {
  font-family: 'Lora', serif;
}

.clrboth {
  clear: both;
}

a {
  text-decoration: none;
  color: #58A1D1;
}
