---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <content>
      <div>
        <img class="me" src="/img/me.jpg"/>
        <h2>Who am I?</h2>
        <p>Hello, my name is Soren Peterson. If you're reading this then you're probably in one of two boats. Hopefully you're here because you'd like to learn about all of the cool things I'm doing. If not, you're most likely here by accident. If this is the case then I suggest you click <a href="https://itunes.apple.com/us/app/id921429259">here</a> right now to download my free app. It's totally free and there are no ads!</p>
        <p>If you are interested in what I'm doing, or you would just like to talk, drop me a line! I'd be happy to hear what you have to say :)</p>
      </div>
      <div>
        <h2>What am I working on right now?</h2>
        <p>Dev Bootcamp</p>
        <p>Current progress: Week 8 of 18<p>
      </div>
      <div>
        <center>
          <iframe width="420" height="315" src="//www.youtube.com/embed/mG4VgNbdk1g" frameborder="0" allowfullscreen></iframe>
        </center>
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>