<header>
  <div id="navigation">
    <div class="navigation-item">
      <a href="/">Home</a>
    </div>

    <div class="navigation-item">
      <a href="/portfolio/">Portfolio</a>
    </div>

    <div class="navigation-item">
      <a href="http://blog.otterhive.com">Blog</a>
    </div>
  </div>

  <div id="social-links">
    <a href="https://github.com/soren468"><img class="social-icon" src="/img/icons/github.png"></a>
    <a href="https://facebook.com/soren.peterson.39"><img class="social-icon" src="/img/icons/facebook.png"></a>
    <a href="https://plus.google.com/+SorenPeterson"><img class="social-icon" src="/img/icons/googleplus.png"></a>
    <a href="https://www.linkedin.com/pub/soren-peterson/99/762/329"><img class="social-icon" src="/img/icons/linkedin.png"></a>
    <a href="https://twitter.com/soren468"><img class="social-icon" src="/img/icons/twitter.png"></a>
  </div>

  <div class="clrboth"></div>
</header>