---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <content>
      <div>
        <center><h2>Thinking Style</h2>
        <h3>or how my brain feels comfortabl when thinking</h3>
        <h6>11.15.14</h6></center>
        <p>Before we had even started phase 0 we did an exercise where we analyzed our own thinking styles. After taking the quiz I resulted in most likely having an Abstract Random thinking style. This gives me a little insight on how to best organize my own thoughts. Abstract random thinkers like to learn others. I find this very true to myself. It is much easier for me to pick up a concept when working with another person. Sometimes, however, I do like to learn on my own. This is partially because I don't always feel like being extroverted.</p>
        <p>When I was first introduced to the ideas of growth and fixed mindset it was like somebody was going into my brain and putting words to my thoughts. Though I struggled to apply it to all aspects of my life I have long understood the benefit of having a growth mindset. Every day I am amazed at how much more knowledge I can stuff into my brain. Our brains just soak up information. I believe that there is no limit to how much one person can learn. Sometimes it becomes difficult though. This is usually related to the method that you're using to learn. Certain methods are ineffective compared to others. One of the most vital parts of learning is understanding this fact and adjusting your methods to suit yourself. We are all different and our complex brains behave in very different ways. There is no one-size-fits-all for learning.</p>
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>