---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <content>
      <div>
        <center><h2>Class Methods</h2>
          <h6>Dec.8.2014</h6></center>
          <p>In ruby, classes can have two types of methods. There are instance methods and class methods. Instance methods are the most common type. In order to use an instance method you must first create an instance of the class. Then you can call the method on the class and it will use variables associated with that instance. The other type of method is called a class method. Class methods don't need an instance of the class to be used. Instead, you can call them directly on the class. It would follow as such that instance variables are inaccessible to class methods. However, they can access class variables.</p>
          <pre><code>my_array = Array.new([1, 2, 3]) # new is a class method which we can call on the class Array
my_array.upcase # upcase is an instance method which we can call on the instance my_array
my_array.new # This is invalid. Class variables can't be called on instances
          </pre></code>Array.upcase # This is also invalid. Instance methods can't be called on classes
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>