---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <content>
      <div>
        <center>
          <h2>Questions</h2>
          <h3>Subtitle</h3>
          <h6>Date</h6>
        </center>
        <p>Asking good questions is one of the most important skills you can have. It applies not only to programming but also to life in general. Everyday we face new challenges and we have to solve them. If we can't effectively ask questions then there is no way that we will be able to learn effectively. Struggling is not very helpful in most cases. It causes frustration and eventually lack of interest. By formulating good questions you give yourself a fighting chance and you can speed up the process of learning. When asking questions be sure to make them specific, plan them and know the purpose.</p>
        <p>You want to be pretty specific when asking a question. Don't ask ambiguous questions that are loosely defined. Make it clear exactly what you want so that the answerer can answer accurately and correctly. You might want to think about planning your questions. Coming up with a good plan will help keep your questions specific and define the purpose. Asking purposeful questions is the goal here so you should definitely know why you're asking the question. What is your goal? What are you hoping to learn? Do you need a specific end result?</p>
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>