---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <content>
      <div>
        <center><h2>JavaScript</h2>
        <h3>or, I'm really not sure how I feel about this one guys.</h3>
        <h6>1.4.15</h6></center>
        <p>I'm honestly not sure how I feel about JavaScript. On one hand, you've got some extra features that allow for a little less code, but often times those same features create even more problems. For instance, the automatic typecasting makes sure that there are never any type errors. This is both a blessing and a burden. You can easily convert one type into another (no messy typecasting functions) but it also leads to some unforseen errors (such as when I tried to append to an array using +=). Yes, you can just remember all of these things and avoid doing them, but something I take for granted in Ruby will produce weird output without errors in JavaScript.</p>
        <p>One fundamental difference between Ruby and JavaScript is the way in which they treat the entire object oriented programming model. JavaScript objects are loosely defined and can be manipulated in any way you want. You can add and remove properties on a whim and because of the way functions work in JavaScript, you can set any of those properties to be functions. In ruby, however, objects have to first be defined by a class. They have a set number of functions depending on this class definition. Properties can be set by any of these functions, but not by anything outside of the class. In this way, Ruby objects are less modular than JavaScript objects.</p>
        <p>JavaScript objects are actually closer to Ruby hashes than objects. They are both a collection of key/value pairs. They key difference (no pun intended) is that you can set JavaScript values as functions. This allows you to use it like an object. This is not possible in ruby as hash values can only be set to objects.</p>
        <p>In ruby there is this nice and neat, well defined class definition. This is the piece of our code that tell's exactly what is going on inside of the object. This definition cannot be changed. You can't change a function's behaviour during runtime and you can't spontaneously add attr_accessor's. In JavaScript, there is no concept of a class definition. Instead you are left to write a function which creates the object. It creates an object, sets the necessary properties and returns that object. This ties in with the whole modular object theme in JavaScript.</p>
        <p>Though there are many differences in the languages, each can accomplish the same thing. Nine times out of ten (just a guess, no science here) it probably won't make much of a difference which language you're using. I often find myself solving problems in the same way, despite the language. I do find that I will make different optimisations based on what is available in the language. Ruby is more familiar and relatable to other languages I have used, but I am getting used to JavaScript.</p>
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>