---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">
      <div class="portfolio-list">
        <ul>
          <li>
            <img class="portfolio-sample" src="/img/rdl8r-sample.jpg">

            <h3><a href="http://rdl8r.com">Read L8r</h3></a>

            <p>Bookmark organizer. Decoupled application</p>
            <ul>
              <li>JQuery front end</li>
              <li>Sinatra Back End</li>
            </ul>

            <div class="clr-both"></div>
          </li>

          <li>
            <h3><a href="https://itunes.apple.com/us/app/id921429259">Horse Attack</a></h3>

            <p>Native iOS Game</p>
          </li>

          <li>
            <h3><a href="http://spaceimg.otterhive.com">Space Image</a></h3>

            <p>Image recommendation site. Built with Sinatra.</p>
          </li>

          <li>
            <h3><a href="http://game2048.otterhive.com">2048</a></h3>

            <p>Clone of the game 2048. Built with javascript.
          </li>

          <li>
            <h3>Squirrel Overflow</h3>
            <p>Stack Overflow Clone. Built with Rails. Will be up soon</p>
          </li>

          <li>
            <h3>Keep Your Friends Close</h3>
          </li>

          <li>
            <h3><a href="http://chat.otterhive.com">Squirrel Chat</a></h3>
          </li>

          <li>
            <h3><a href="https://github.com/soren468/SigneMovie">Signe's Movie Maker</a></h3>
          </li>

          <li>
            <h3><a href="/dogegame/">Doge Game</a></h3>
            <p>A fun little game. Built with javascript.</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>