---
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <content>
      <div>
        <h2>Horse Attack</h2>
        <p>Horse Attack is that new game that all the kids are raving about.
      </div>

      <div>
        <a href="/dogegame/"><h2>Doge Game</h2></a>
        <p>This is a game that I made for a project during DBC. It is free to play and super fun!</p>
      </div>

      <div>
        <h2>Signe's Stop Motion Creator</h2>
      </div>
    </content>

    <footer>
    </footer>
  </body>
</html>